/*
divContent 바로 밑에 div가 없기 때문에
#divContent > div 로 하면 div에는 적용 안 됨
 */
#divContent > form, #divContent div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#divContent > form {
    width: 100%;
    flex-direction: column;
}

#divContent div {
    width: 80%;
    margin: 10px;
}

input {
    width: 100%;
    height: 30px;
    display: inline-flex;
    margin-right: 10px;
}

#txt2 {
    background-color: beige;
    color: brown;
}

button {
    width: 30%;
    display: inline-flex;
    margin-right: 10px;
}