* {
    margin : 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: start;
}

main {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    /* main 안에 header가 있으므로 main 넓이의 100%를 차지 */
    width: 100%;
    height: 40px;
    background-color: khaki;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

button {
    display: inline-flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: darkseagreen;
    color: white;

    font-size: medium;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}

button:hover {
    background-color: beige;
    color : brown
}